<html>

<head>

    <title>Capitán Jack Pescaderías</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans: 300, 400, 700" 
rel="stylesheet">

<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-
Vkoo8x4CGs03+Hhxv8T/Q5PaXtkktuбugNV6gBiFeWPGFN9Muh0f23091fjh" crossorigin="anonymous"> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-
eZrrJcwDc/3uDhsdt61sL200BY362qM31on1gyExkLO=" crossorigin="anonymous" /> 

<link rel="stylesheet" href="/stylesheets/transporte.css"> 

</head>
<body>

    <header class="text-center">

        <div class="holder">
            <div class="logo">
                <img className="logocap" src="/images/logo1.ico" width="140" alt="Logo Pescadería Capitan Jack" style="border-radius: 50%; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);" />
                <h1 style="position:static;">Capitán Jack Pescaderías</h1>
                <br>
                <h2>Sitio de Administración</h2>

            </div>

        </div>
    </header>

    {{{body}}}

    <footer>

        <p>Derechos reservados. Capitán Jack Pescaderías</p>

    </footer>

</body>


</html>