<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="../public/images/logoJack.png" type="image/x-icon">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
